<div class="col-md-8">
<h1>Sign Up</h1>
<form>
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control">
      </div>
      <div class="mb-3">We may share your information with our mothers...maybe</div>
      <div class="row">
        <div class="col-6 mb-3">
          <label for="" class="form-label">First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6 mb-3">
          <label for="" class="form-label">Last Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control">
        </div>
        <div class="col-6 mb-3">
          <label for="" class="form-label">Confirm Password</label>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary">Sign Up</button>
      </div>
      <div><p>Already have an account? <a>Login</a></p></div>

    </div>
  </div>
</form>
</div>

