<div class="col-md-8 m-3">
<h1>Sign Up</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email"
          id="email"
          formControlName="email"
          class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-3 mb-3">
          <label for="" class="form-label">First Name</label>
          <input type="text"
            id="first_name"
            formControlName="first_name"
            class="form-control">
      </div>
      <div class="col-3 mb-3">
          <label for="" class="form-label">Last Name</label>
          <input type="text"
            id="last_name"
            formControlName="last_name"
            class="form-control">
      </div>
  </div>
  <div class="row">
        <div class="col-6 mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password"
            id="password"
            formControlName="password"
            class="form-control">
        </div>
    </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label for="" class="form-label">Confirm Password</label>
          <input type="password"
            id="password_confirmation"
            formControlName="password_confirmation"
            class="form-control">
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
      <div class="mt-2"><p>Already have an account? <a routerLink="/login">Login</a>
      </p>
    </div></form>
  </div>



