<div>
  
  <ul class="p-3 list-unstyled">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" *ngIf="!currentUser">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="!currentUser">
      <a class="nav-link" routerLink="/signup">Signup</a>
    </li>
    <li class="nav-item dropdown" *ngIf="currentUser">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Options
      </a>
      <ul class="dropdown-menu" >
        <li><a class="dropdown-item">Profile</a></li>
        <li><a class="dropdown-item">Create Playlist</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="onLogout()" >Logout</a></li>
      </ul>
    </li>

  </ul>
</div>

