<div class="container">
<div class="col-md-12" id="cols">
  <nav class="navbar navbar-expand-lg rounded-3"  id="nav" style="background-color: #141f27">
    <div class="container-fluid">
      <a class="navbar-brand">Logo Here</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" *ngIf="!currentUser">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!currentUser">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item dropdown" *ngIf="currentUser">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item">Profile</a></li>
              <li><a class="dropdown-item">Create Playlist</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="onLogout()" >Logout</a></li>
            </ul>
          </li>
          <li class="nav-item"><!--does not work yet-->
            <span class="navbar-text"></span>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
</div>

