<div class="container-fluid  d-flex flex-column">
  <div class="row">
    <div class="col-md-12 min-vh-90 pt-3 flex" >
          <mat-form-field style="width: 100%;">
            <mat-label style="padding-left: 15px; padding-top: 5px; font-size: 14px; color:rgb(243, 249, 254);">What's on your mind, <em>{{currentUser.first_name}}?</em></mat-label>
        <input
        (click)="openPostDialog()"
        style="height: 25px; background: #3d5363; border-radius: 35px;" matInput/>
        </mat-form-field>
    </div>
  </div>
  <div class="row"*ngFor="let post of allPosts">
    <div class="p-2">
    <mat-card class="post-card border-bottom border-top rounded" style="background: aliceblue;">
      <mat-card-header style="width: 100%;">
        <div class="f-flex flex-row">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            style="border-radius: 50%; max-height: 45px" >
        </div>
        <div class="row">
          <mat-card-subtitle style="font-size: 16px;">{{post.user.first_name}} {{post.user.last_name}}</mat-card-subtitle>
          <mat-card-subtitle style="font-size: 10px;">{{post.created_at | date:'shortDate'}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content style="padding-left: 30px;">
        <p>{{post.body}}</p>
      </mat-card-content>
      <mat-form-field style="width: 95%;padding-left: 30px;">
        <mat-label style="padding-left: 15px; font-size: 14px; color:rgb(243, 249, 254)">Write a comment...</mat-label>
        <input
        (click)="openCommentDialog(post)"
        style="height: 22px; background-color:rgb(89, 109, 109);
        border-radius: 35px; color:rgb(243, 249, 254)" matInput/>
      </mat-form-field>
      <mat-card-actions style="padding-left: 30px;">
        <button
          (click)="addPostLike(post)"
          mat-button>LIKE ({{post.likes.length}})</button>
        <button mat-button
        *ngIf="post.user.id === currentUser.id"
        (click)="openEditPostDialog(post)">EDIT</button>
        <button mat-button
        *ngIf="post.user.id === currentUser.id"
        (click)="onDeletePost(post)">DELETE</button>
      </mat-card-actions>
      <!--Start of comments-->

       <ng-container *ngIf="post.comments.length !== 0">
          <mat-accordion>
          <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title >
          </mat-panel-title>
          <mat-panel-description>
           Comments ({{post.comments.length}})
          </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let comment of allComments">
            <div *ngIf="post.id === comment.post_id">
              <div class="comments-container">
                <div class="comment">
                  <div class="comment-image-container">
                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="border-radius: 50%; max-height: 45px"/>
                    <mat-card-subtitle style="font-size: 10px; padding-left: 5px;">{{comment.created_at | date:'shortDate'}}</mat-card-subtitle>
                  </div>
                  <div class="comment-right-part">
                    <div class="comment-content">
                      <div class="comment-author text-muted">{{comment.user.first_name}} {{comment.user.last_name}}</div>
                    </div>
                    <div class="comment-text">{{ comment.body }}</div>
                    <mat-card-actions style="padding-left: 30px;">
                      <button mat-button (click)="addCommentLike(comment)">LIKE ({{comment.likes.length}})</button>
                      <button (click)="openReplyDialog(comment)" mat-button>REPLY</button>
                      <button (click)="onDeleteComment(comment)" mat-button *ngIf="comment.user.id === currentUser.id">DELETE</button>

                        <!--Start of Reply-->
                        <ng-container *ngIf="comment.replies.length !== 0">
                          <mat-accordion>
                            <mat-expansion-panel
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                            <mat-panel-title></mat-panel-title>
                            <mat-panel-description>Replies ({{comment.replies.length}})</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div *ngFor="let reply of allReplies">
                              <div *ngIf="comment.id === reply.comment_id">
                                <div class="comments-container">
                                  <div class="comment">
                                    <div class="comment-image-container">
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="border-radius: 50%; max-height: 45px"/>
                                      <mat-card-subtitle style="font-size: 10px; padding-left: 5px;">{{reply.created_at | date:'shortDate'}}</mat-card-subtitle>
                                    </div>
                                    <div class="comment-right-part">
                                      <div class="comment-content">
                                        <div class="comment-author text-muted">{{reply.user.first_name}} {{reply.user.last_name}}</div>
                                      </div>
                                      <div class="comment-text">{{ reply.body }}</div>

                                      <div class="options"><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
                                      <mat-icon><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="15" height="15">
                                        <g><circle cx="256" cy="53.333" r="53.333"/><circle cx="256" cy="256" r="53.333"/><circle cx="256" cy="458.667" r="53.333"/></g></svg>
                                        </mat-icon></button>
                                        <mat-menu #menu="matMenu">
                                          <button mat-button (click)="addReplyLike(reply)">LIKE ({{reply.likes.length}})</button>
                                          <button (click)="openReplyDialog(comment)" mat-button>REPLY</button>
                                          <button (click)="onDeleteReply(reply)" mat-button *ngIf="reply.user.id === currentUser.id">DELETE</button>
                                        </mat-menu>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <hr>
                              </div>
                            </div>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </ng-container>
                        <!--End of Reply-->
                    </mat-card-actions>

                  </div>


                </div>
                </div>
                <hr>
            </div>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <!--End of Comments-->
    </mat-card>
    </div>
  </div>

  <div class="row">
    <p></p>
    </div>

</div>
