<div class="container-fluid min-vh-90 d-flex flex-column">
  <div class="row">
    <div class="col-md-12 pt-3" >
      <h5>Profile info</h5>
      <mat-card *ngIf="profileUser">
        <mat-card-header>
          <div>
            <div>
              <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="border-radius: 50%" >
             <mat-card-title class="text">{{profileUser.username}}</mat-card-title>
            </div>

          </div>

          <mat-card-subtitle class="mx-2"></mat-card-subtitle>

        </mat-card-header>
        <mat-card-content class="mx-2">
          <mat-card-title><p></p></mat-card-title>

          <mat-list role="list">
            <mat-list-item role="listitem">
              {{profileUser.first_name}} {{profileUser.last_name}}  |  {{profileUser.email}}
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-subtitle class="mx-2 pt-2">Last Updated:</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="profileUser.username !== currentUser.username">FRIEND</button>
          <button mat-button *ngIf="profileUser.username !== currentUser.username">FOLLOW</button>
          <button mat-button

            *ngIf="profileUser.id === currentUser.id"
            (click)="openEditUserDialog()"
            >EDIT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 pt-3">
      <mat-card *ngIf="profileUser">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle class="mx-2"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mx-2">
          <mat-card-title><p>Friends</p></mat-card-title>

          <mat-list role="list">
            <mat-list-item role="listitem">Friend 1 Friend 2 Friend 3</mat-list-item>
          </mat-list>

          <mat-card-subtitle class="mx-2 pt-2"></mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  <div class="row">
  <div class="col-md-12 pt-3">
    <mat-card *ngIf="profileUser">
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle class="mx-2"></mat-card-subtitle>

      </mat-card-header>
      <mat-card-content class="mx-2">
        <mat-card-title><p>Current Playlists:</p></mat-card-title>

        <mat-list role="list" *ngFor="let plist of profilePlaylists" routerLink="/playlists/{{plist.id}}" style="cursor: pointer">
          <mat-list-item role="listitem">{{plist.playlist_name}}</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-card-subtitle class="mx-2 pt-2">Last Updated:</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
