<div class="p-2 bd-highlight" >
  <div class="form-group mr-2">
    <p>Search for Song or Artist:</p>
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <button style="cursor:pointer"
          type="submit"
          mat-raised-button color="primary"
          class="btn btn-secondary"
          (click)="onSearchMusic(str.value)">Search</button>
      </div>
      <input
        class="form-control"
        #str type="text"
        placeholder="..."
        (change)="onSearchMusic(str.value)"
        >
    </div>
  </div>
<hr>
  <div *ngFor="let results of searchResults" style="width: 100%;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-accordion style="background-color:#F5F8FA">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="d-flex justify-content-start" style="height: 75px;">
                <mat-panel-title>
                  <h4 class="card-title">"{{ results.trackname }}" .... {{ results.artist }}</h4>
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end">
                  See More...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="container bg-white rounded-lg mt-3">
                <div class="row">
                  <div class="col-md-2 justify-content-center">
                    <div class="border-0">
                      <img src="{{results.album_img_url}}" alt="{{results.album}}">
                    </div>
                    <button
                    class="btn btn-secondary btn-sm mt-2"
                    mat-raised-button color="accent"
                    style="cursor: pointer"
                    [matMenuTriggerFor]="menu"
                    (click)="saveButton(results)"
                    >Add to Libary</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                  </div>
                  <div class="col-md-6 justify-content-start">
                    <div class="card-body">
                      <h5 class="card-title">"{{ results.trackname }}"</h5>
                      <p class="card-text">{{ results.artist }}</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body mt-2">
                      <p class="card-text">Album  |  "{{ results.album }}"</p>
                      <p class="card-text"
                        style="font-size: 14px;"
                        >{{ results.genre }} | {{ results.year | date:'shortDate' }}</p>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <audio controls>
                    <source [src]="results.play_preview_url" type="audio/ogg">
                    <source [src]="results.play_preview_url" type="audio/mpeg">
                    </audio>
                </div>
              </div>
              </mat-expansion-panel>
          </mat-accordion>
        </li>

    </ul>
  </div>
</div>
