/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #141f27;
  /*background: aliceblue;
  color:#F5F8FA;*/
  color:#141f27;
 }

#cols {
  border-bottom: 1px solid #657786;
}

#othercols {
  border-left: 1px solid #657786;
}

#logo {
  fill:#f0f8ff;
  /*margin-top: 25px;
  margin-left: 10px;*/
  padding-top: 0px;

}


/*.navbar li a {
  color: #F5F8FA;
}

.navbar li a:hover{
  color: #d3d9dd;
}

.navbar.navbar-brand.navbar-nav li a ul{
  color: #F5F8FA;
}

.dropdown-menu {
  background-color:#141f27;
  cursor:pointer;
}

.dropdown-item:hover {
  background-color:#141f27;
  color: #d3d9dd;
}
*/


